.post {
    border: 1px solid #fff;
    padding: -5%;
    position: relative;
    width: 35%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    background-size: cover;
    background-position: center;
    color: #fff;
    background: #000;
    margin: 3%;
} .post:hover {
    transform: scale(1.05);
}
.post div {
    background: #000;
    left: 0; right: 0;
    height: 100px;
    width: 100%;
} .post p {
    font-weight: 500;
}
.post p, .post h1 {
    padding: 5%;
}
@media (max-width: 950px) {
    .post {
        width: 100%;
        border-radius: 0;
        margin-left: -50px;
    }
    .post:hover {
        transform: scale(1);
    }
}