.project {
    border: 0;
    padding: -5%;
    position: relative;
    width: 35%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    background-size: cover;
    background-position: center;
    color: #000;
    margin: 3%;
} .project:hover {
    transform: scale(1.05);
} .project hr { background: #000; }
.project div {
    position: relative;
    left: 0; right: 0;
    height: 200px;
    width: 100%;
    backdrop-filter: blur(3px) sepia(100%);
} .project p {
    font-weight: 700;
}
.project p, .project h1 {
    padding: 5%;
}
@media (max-width: 950px) {
    .project {
        width: 100%;
    }
}