body {
    background: linear-gradient(to top, rgb(0, 0, 0) 75%, rgb(99, 0, 149) 100%);
    background-size: cover;
    background-position: center center;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transform: scale(1);
}
img {
    height: 300px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} img:hover {
    filter: brightness(1.5);
    transform: scale(1.1);
}

svg {
    height: 25px;
    padding: 10px;
}

@media (max-width: 659px) {
    body {
        overflow-x: hidden;
    }
    img:hover {
        filter: brightness(1);
        transform: scale(1);
    }
    center.div {
        position: relative;
        left: 15px; right: 15;
        width: 140%;
        padding-top: 15px;
        margin-left: -100px;
        margin-right: -0; /* ananı s2m */
    }
    * {
        font-size: 15px;
    }
    .count {
        display: none;
    }
    hr, #aboutme {
        width: 150%;
        margin-right: -100rem;
    }
}

.count {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
} .count:hover {
    border-radius: 8px;
    background: rgb(99, 0, 149);
}

.menu {
    transform: translateY(-10px);
    justify-content: right;
    position: sticky;
    right: 0px; left: 0px; top: 5px;
    z-index: 1; background: #000;
    border-radius: 15px #000 solid;
} a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
} a:hover {
    text-decoration:overline #fff 3px;
}

hr {
  width: 75%;
  margin: 0 auto;
  border: none;
  height: 0.1rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 25%, rgb(255, 255, 255) 75%, rgba(251, 251, 251, 0) 100%);
}

#aboutme {
    width: 75%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: left;
}

.bold {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}

#gamezone-redirect {
    background: linear-gradient(to right, #001e59 0%, #003c03 25%, #001e59 50%, #003c03 100%);
    padding: 1%;
    cursor: pointer;
    color: #fff;
    border: 0; border-radius: 8px;
    position: relative; width: 90%;
    font-size: 25px;
    font-weight: bold;
} #gamezone-redirect:hover {
    text-decoration: none;
}